body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

/* NAVBAR */
.navbar {
  background: #212529;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-weight: bold;
  font-size: 18px;
  margin-right: 30px;
}
.menu {
  margin-left: 20px;
}
.menu a {
  color: #ccc;
  text-decoration: none;
  margin-right: 15px;
  line-height: 1;
}

.menu a:hover {
  color: white;
}

.search {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 5px;
}

.search input {
  padding: 5px;
}

.search button {
  padding: 5px 10px;
  background: #000;
  color: #fff;
  border: 1px solid #000;
  padding: 6px 12px;
  cursor: pointer;
}

/* MAIN */
.container {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-add {
  background: #0d6efd;
  color: white;
  text-decoration: none;
  padding: 7px 12px;
  border-radius: 4px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

th {
  background: #f8f9fa;
}

.btn-edit {
  background: #ffc107;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
}

.btn-delete {
  background: #dc3545;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
}

/* POPUP PAGE */
.modal-page {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  width: 500px;
  border-radius: 5px;
}

.modal-header {
  background: #0d6efd;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.close {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.modal-body {
  padding: 15px;
}

.row {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.row div {
  flex: 1;
}

input,
select {
  width: 100%;
  padding: 5px;
}

.modal-footer {
  text-align: right;
  padding: 10px;
}
.gender {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-save {
  background: #198754;
  color: white;
  border: none;
  padding: 7px 16px;
}

.btn-cancel {
  background: #6c757d;
  color: white;
  text-decoration: none;
  padding: 6px 10px;
}
